<section class="listing">
    <div class="heading">
        <div>
            <h1 id="title">{{job.jobTitle}}</h1>
        </div>
        <div class="logo">
            <img class="accolite" src="../../../assets/Logos/accolite_logo.jpg"/>
        </div>
    </div>

    <div>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
        {{location?.city}} , {{location?.state}} , {{location?.country}}
    </div>
    
    <div class="dateId">
        <div class="block1">
            <i class="fa fa-address-card" aria-hidden="true"></i>
           <p>{{job.jobCode}} </p>
        </div>
        <div class="block2">
            <i class="fa fa-calendar" aria-hidden="true"></i>
           <p>Last Date - {{job.lastDate}} </p>
        </div>
    </div>
    
    <div>
        <p>{{job.jobDescription}}</p>
    </div>

    <div class="details">
        <div class="option">{{jobtype?.typeName}}</div>
        <div class="option">{{jobcategory?.categoryName}}</div>
        <div class="option">{{jobPosition?.positionName}}</div>
    </div>

    <div class="footer">
        <button class="btn btn-outline-primary" [routerLink]="['/job-details',job.jobId]" >Click Here for Details..</button>
    </div>

    <button [routerLink]="['/edit-job',job.jobId]">for Edit Testing</button>
</section> 