<div class="our_solution_category">
  <div class="solution_cards_box">
    <div class="solution_card">
      <div class="hover_color_bubble"></div>
      <div class="so_top_icon">
        <img src="../../../assets/Logos/accolite_logo.jpg" alt="job-logo">
      </div>
        <a *ngIf="canEdit" class='btn btn-primary text-style-add' [routerLink]="['/edit-job',job.jobId]"><i class="fas fa-edit"></i>
        </a>
      <div class="solu_title">
        <h3>{{job !== undefined ? job.jobTitle : closedJob.jobTitle}}</h3>
      </div>
      <div class="solu_description">
        <div class="dateId">
            <i class="fa fa-location-arrow d-inline" aria-hidden="true"></i>
            <div class="mx-3">
            {{location?.city}} , {{location?.state}} , {{location?.country}}
            </div>
        </div>
        <div class="dateId">
            <div class="block1">
                <i class="fa fa-address-card" aria-hidden="true"></i>
               <div class="mx-3">{{job !== undefined ? job.jobCode : closedJob.jobCode}}</div>
            </div>
            <div class="block2">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <div class="mx-3">Last Date - {{job !== undefined ? job.lastDate : closedJob.lastDate}}</div>
            </div>
        </div>
        <div class="details">
            <div class="option">{{jobtype?.typeName}}</div>
            <div class="option">{{jobcategory?.categoryName}}</div>
            <div class="option">{{jobPosition?.positionName}}</div>
        </div>
        <button class="btn btn-primary-1 mb-2" [routerLink]="['/job-details',(job !== undefined ? job.jobId : closedJob.closedJobId)]" >Click Here for Details..</button>
        <button *ngIf="isEmployee && hasPrivilege" class="btn btn-primary-1 mb-2" [routerLink]="(job !== undefined ? ['/jobs', job.jobId , 'applicants'] : ['/closedJobs', closedJob.closedJobId , 'applicants'])">View Applicants</button>
      </div>
    </div>
</div>
