<section class="vh-100" style="background-color: #8c3f9b">
  <div class="container py-5 px-5 h-100 w-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <form [formGroup]="mediaForm">
            <button
              class="btn btn-primary w-100"
              *ngIf="enableAddButton"
              (click)="activeAddSocialMedia()"
            >
              Click Here To Add URLs
            </button>
            <button
              class="btn btn-primary w-100"
              *ngIf="enableEditButton"
              (click)="activeEditSocialMedia()"
            >
              Click Here To Edit URLs
            </button>
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">Portfolio Site link</p>
                <input type="text" formControlName="link1" value={{socialMedia.link1}}/>
              </li>

              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-github fa-lg" style="color: #333333"></i>
                <p class="mb-0">GitHub link</p>
                <input type="text" formControlName="link2" value={{socialMedia.link2}} />
              </li>

              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-linkedin fa-lg" style="color: #3b5998"></i>
                <p class="mb-0">LinkedIn link</p>
                <input type="text" formControlName="link3" value={{socialMedia.link3}}/>
              </li>
            </ul>
            <button
              class="btn btn-success w-100"
              *ngIf="isAccessible"
              (click)="
                updateSocialMedia ? funupdateSocialMedia() : funaddSocialMedia()
              "
            >
              SAVE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
