<section class="vh-100 w-100">
  <div class="h-100 w-100 container">
    <div class="row d-flex justify-content-center h-50 mt-3 w-100">
      <div class="card mb-4 mb-lg-0 w-100">
        <div class="card-body m-4 p-4 w-100">
          <div *ngIf="enableBack">
            <div (click)="disablefields()" style="cursor: pointer; font-weight: bold;"><i
                class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</div>
          </div>
          <h4 class="text-center"><b> Add your profile URLs</b></h4><br>
          <form [formGroup]="mediaForm" class="formstyle"
            style="display: flex; align-items: center; flex-direction: column; width: 100% ;margin:0; ">
            <button class="btn btn-primary w-35" *ngIf="enableAddButton" (click)="activeAddSocialMedia()">
              Add URLs
            </button>
            <button class="btn btn-primary w-35 mb-2" *ngIf="enableEditButton" (click)="activeEditSocialMedia()">
              Edit URLs
            </button>
            <ul class="list-group list-group-flush rounded-3 w-100 mx-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3 ">
                <div class="Portfoliocontainer">
                  <i class="fas fa-globe fa-lg text-warning "></i>
                  <p class="ms-3 d-inline"><b>Portfolio Url</b></p>
                </div>
                <div class="linkContainer">
                  <input type="text" formControlName="link1" style="width: 50vw;"/>
                  <a [href]="socialMedia!=null? socialMedia.link1:''" target="_blank" [ngStyle]="link1?{}:{'pointer-events': 'none', 'color':'grey'}"><i
                      class="fa-solid fa-arrow-up-right-from-square ms-3"></i></a>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <div class="Portfoliocontainer">
                  <i class="fab fa-github fa-lg" style="color: #333333"></i>
                  <p class="ms-3 d-inline"><b>GitHub Url</b></p>
                </div>
                <div class="linkContainer">
                  <input type="text" formControlName="link2" style="width: 50vw;"/>
                  <a [href]="socialMedia!=null? socialMedia.link2:''" target="_blank"  [ngStyle]="link2?{}:{'pointer-events': 'none', 'color':'grey'}"><i
                      class="fa-solid fa-arrow-up-right-from-square ms-3"></i></a>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <div class="Portfoliocontainer">
                  <i class="fab fa-linkedin fa-lg" style="color: #3B5998"></i>
                  <p class="ms-3 d-inline"><b>LinkedIn Url</b></p>
                </div>
                <div class="linkContainer">
                  <input type="text" formControlName="link3" style="width: 50vw;" />
                  <a [href]="socialMedia!=null? socialMedia.link3:''" target="_blank" [ngStyle]="link3?{}:{'pointer-events': 'none', 'color':'grey'}"><i
                      class="fa-solid fa-arrow-up-right-from-square ms-3"></i></a>
                </div>
              </li>
            </ul>
            <button class="btn btn-success w-50" *ngIf="isAccessible" (click)="
                updateSocialMedia ? funupdateSocialMedia() : funaddSocialMedia()
              ">
              SAVE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>