<div class="container mw-80 ">
  <div class="card bg-glass p-5 mt-3">

      <h1>Schedule Interview</h1>
      <form [formGroup]="AddInterviewForm" (ngSubmit)="onSubmit()">
        <div class="mb-4 col">
          <label class="form-label">Interview Date</label>
          <input type="date" formControlName="interviewDate" class="form-control" />
        </div>
        <div class="mb-4 col">
          <label class="form-label">Interview Time</label>
          <input type="time" formControlName="interviewTime" class="form-control" />
        </div>
        <div class="mb-4 col">
          <label for="search-text">Search for the interviewer</label>
          <input
            type="text"
            [(ngModel)]="searchText"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            id="search-text"
            aria-describedby="search-text"
            (input)="fetchEmployee(searchText)"
            placeholder="Enter name to search Interviewer"
            autofocus
          />
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              *ngFor="let e of filteredEmployees"
              (click)="getEmployeeId(e.employeeId)"
            >
              {{ e.firstName }} {{ e.lastName }} ({{ e.empId }}) 
            </li>
          </ul>
        </div>
        <div class="mb-4 col">
          <label class="form-label">Link</label>
          <input type="text" formControlName="link" class="form-control" />
        </div>
        <div class="mb-3">
          <button class="btn btn-primary-1">
            Save
          </button>
        </div>
      </form>
  </div>
</div>
