
    <section class="about_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h1>
            About <span>Us</span>
          </h1>
          <p>
            To infinity and Beyond!!
          </p>
        </div>
        <div class="row" style="margin: 5rem 0;">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="../../../assets/Images/about.png" alt="Alternate">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box mx-5">
              <h2>
                About our Internal Job Portal
              </h2>
              <p>
                Welcome to our internal job portal, the hub of career advancement opportunities within our esteemed organization. At Bounteous X Accolite, we recognize the importance of fostering talent from within and providing our employees with avenues for growth and development. Our internal job portal is designed to facilitate this process, enabling employees to explore new roles, expand their skill sets, and chart a rewarding career path within the company.
              </p>
              <p>
                Our mission is simple yet profound: to empower our employees to reach their full potential and thrive in their professional endeavors. We believe that every individual has unique talents and aspirations, and it is our responsibility to nurture these talents and create an environment where employees can flourish.
              </p>
              <a routerLink="..">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 5rem;">  
            <div class="col-md-6">
              <div class="detail-box">
                <h2>
                    Join Us in Shaping Your Future
                </h2>
                <p>
                  Whether you're looking to take the next step in your career journey or explore new horizons within our organization, we invite you to join us on this exciting adventure. Together, we can build a future where every employee has the opportunity to thrive and succeed. Welcome to our internal job portal – your gateway to a world of endless possibilities.
                </p>
                <p>
                  Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
                </p>
                <a routerLink="..">
                  Read More
                </a>
              </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">
                  <img src="../../../assets/Images/about2.jpg" alt="Alternate">
                </div>
              </div>
          </div>
      </div>
      
    </section>
  
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 info_col">
            <div class="info_contact">
              <h4>
                Address
              </h4>
              <div class="contact_link_box">
                <a routerLink="..">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    7th Floor, Magnum Towers, Gurugram
                  </span>
                </a>
                <a routerLink="..">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +01 1234567890
                  </span>
                </a>
                <a routerLink="..">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    accolite.com
                  </span>
                </a>
              </div>
            </div>
            <div class="info_social">
              <a routerLink="..">
                <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
              </a>
              <a routerLink="..">
                <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
              </a>
              <a routerLink="..">
                <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
              </a>
              <a routerLink="..">
                <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 info_col">
            <div class="info_detail">
              <h4>
                Info
              </h4>
              <p>
                De-risk your digital ambitions with Accolite. We bring decades of engineering experience and a problem-solving approach to all our customer engagements.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 mx-auto info_col">
            <div class="info_link_box">
              <h4>
                Links
              </h4>
              <div class="info_links">
                <a class="active" routerLink="..">
                  Home
                </a>
                <a class="" routerLink="..">
                  About
                </a>
                <a class="" routerLink="..">
                  Services
                </a>
                <a class="" routerLink="..">
                  Why Us
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end info section -->
  
    <!-- footer section -->
    <section class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://www.accolite.com/" target="_blank">BounteousXAccolite</a>
        </p>
      </div>
    </section>
  