<div class="container mw-80">
    <div class="card bg-glass p-5 mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Reset Your Password</h2>
      <form [formGroup]="pwdForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            type="password"
            class="form-control mb-3"
            id="currentPassword"
            name="currentPassword"
            formControlName="currentPassword"
            required
          />
          <small style="color:red"
                  *ngIf="
                    f['currentPassword'].invalid &&
                    (f['currentPassword'].dirty || f['currentPassword'].touched)
                  "
                  class="block p-error"
                >
                  <div *ngIf="f['currentPassword'].errors?.['required']">
                    Current Password is required
                  </div>
                </small>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            class="form-control mb-3"
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            required
          />
          <small style="color:red"
                  *ngIf="
                    f['newPassword'].invalid &&
                    (f['newPassword'].dirty || f['newPassword'].touched)
                  "
                  class="block p-error"
                >
                  <div *ngIf="f['newPassword'].errors?.['required']">
                    New Password is required
                  </div>
                </small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control mb-3"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            required
          />
        <small style="color:red"
                  *ngIf="
                    f['confirmPassword'].invalid &&
                    (f['confirmPassword'].dirty || f['confirmPassword'].touched)
                  "
                  class="block p-error"
                >
                  <div *ngIf="f['confirmPassword'].errors?.['required']">
                    Confirm Password is required
                  </div>
                  <div
                    *ngIf="f['confirmPassword'].errors?.['passwordMismatch']"
                  >
                    Confirm Password should be same as Password
                  </div>
                </small>
        </div>  
        <div class="mb-3"></div>
        <button
          type="submit"
          class="btn btn-primary btn-block float-end" 
          [disabled]="pwdForm.invalid"
        >
          Reset Password
        </button>
      </form>
    </div>
  </div>
  </div>
</div>
