<!-- Resume exists -->
<div *ngIf="resumeExists == true" class="cont">
  <div class="col-lg-10">
    <div class="feature-item rounded text-center p-3 mt-3 px-5">
      <div class="d-flex align-items-center">
        <!-- <div class="fw-bold fs-large me-2">Click here to update resume</div> -->
        <div data-bs-toggle="modal" data-bs-target="#exampleModal" aria-expanded="false" style="cursor: pointer"
          data-bs-placement="right" title="Update Resume">
          <i class="fa fa-2x fa-pen-to-square feature-icon"></i>
        </div>
      </div>
      <div class="d-flex">
        <h2 class="me-3">Resume</h2>
      </div>
    </div>
  </div>
  <div class="emded-div">
    <embed [src]="urlSafe" width="100%" height="100%" />
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">Update resume</h5>
          <button type="button" class="close rounded" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form style="display: flex; flex-direction: column; align-items: center">
            <label for="resumeUrl">Upload new file</label>
            <br />
            <input type="file" (change)="handleFileChange($event)" accept=".pdf" name="resumeUrl" id="resumeUrl" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" id="closedUpload">
            Close
          </button>
          <button (click)="update()" [disabled]="uploading" class="btn btn-primary-1">
            {{ uploading ? "Uploading..." : "Upload" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Resume does not exist -->
<div *ngIf="resumeExists == false" class="cont">
  <div class="col-lg-8">
    <div class="feature-item-1 rounded text-center p-4">
      <i class="fa fa-3x fa-plus mb-4 feature-icon"></i>
      <h5 class="mb-3">Please add your resume</h5>
      <p class="m-3 fw-bold">
        Drag and drop your resume or use the below button
      </p>
      <div class="empty">**PDF format only**</div>
      <div class="col-lg-8 d-flex justify-content-center">
        <div class="center">
          <div class="title">
            <h1>Drop file to upload</h1>
          </div>

          <div class="dropzone">
            <img *ngIf="!fileSelected" src="https://100dayscss.com/codepen/upload.svg" class="upload-icon" />
            <img *ngIf="fileSelected" src="../../../../assets/Images/pdf.png" class="upload-icon" />
            <input type="file" (change)="handleFileChange($event)" accept=".pdf" name="resumeUrl" id="resumeUrl"
              class="upload-input" />
          </div>
          <button (click)="uploadFile()" [disabled]="uploading" class="btn btn-primary-1">
            {{ uploading ? "Uploading..." : "Upload" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>