.logo {
    background: #b1aaaa;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    min-height: 3rem;
    border-radius: 100%;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    border: none;
}

.logo-text{
    padding-left: 7px;
}

@media (max-width: 481px) {
    .ms-5{
        margin-left: 1rem !important;
    }

    .addDesignationButton{
        font-size: 1rem !important;
    }
}