<section
  class="h-100 gradient-custom-2"
  style="min-height: 87vh; width: 100%; height: auto"
>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col col-lg-9 col-xl-7" style="width: 100%; padding-top: 10vh">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="
              background-color: #0a0156;
              height: 150px;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div
              class="ms-4 mt-1 d-flex flex-row row"
              style="justify-content: center; align-items: center"
            >
              <div
                class="col img-thumbnail"
                style="
                  width: 80px;
                  z-index: 1;
                  height: 80px;
                  color: #000;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 55%;
                "
              >
                <div class="fw-bold fs-2" style="color: #0a0156">
                  {{
                    candidate === undefined
                      ? ""
                      : candidate.firstName.charAt(0).toUpperCase()
                  }}{{
                    candidate === undefined
                      ? ""
                      : candidate.lastName.charAt(0).toUpperCase()
                  }}
                </div>
              </div>
              <div class="col mx-3">
                <h4>
                  {{
                    candidate === undefined ? "loading.." : candidate.firstName
                  }}
                  {{
                    candidate === undefined ? "loading.." : candidate.lastName
                  }}
                </h4>
                <p>
                  {{ candidate === undefined ? "loading.." : candidate.email }}
                </p>
              </div>
            </div>
            <div class="ms-4 mt-1 d-flex flex-column">
              <button
                type="button"
                class="btn btn-outline-dark"
                style="z-index: 1; color: white; margin-right: 2rem"
                (click)="enableFields()"
              >
                Edit profile
              </button>
            </div>
          </div>
          <div class="card-body p-4 text-black fw-bold">
            <p class="lead fw-normal mb-1">About</p>
            <label *ngIf="isAccessible">*Update values as per requirement</label>
            <div class="row">
              <div
                class="col p-4"
                style="background-color: #f8f9fa; width: 85%"
              >
                <form [formGroup]="profileForm">
                  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="font-italic mb-2 d-inline">Phone :</div>
                    <input
                      type="text"
                      class="font-italic mb-1 w-75"
                      formControlName="phone"
                    />
                  </div>
                  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="font-italic mb-2 d-inline">Address :</div>
                    <input
                      type="text"
                      class="font-italic mb-1 w-75"
                      formControlName="addressLine1"
                    />
                  </div>
                  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="font-italic mb-2 d-inline">City :</div>
                    <input
                      type="text"
                      class="font-italic mb-1 w-75"
                      formControlName="city"
                    />
                  </div>
                  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="font-italic mb-2 d-inline">State :</div>
                    <input
                      type="text"
                      class="font-italic mb-1 w-75"
                      formControlName="state"
                    />
                  </div>
                  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="font-italic mb-2 d-inline">Country :</div>
                    <input
                      type="text"
                      class="font-italic mb-1 w-75"
                      formControlName="country"
                    />
                  </div>
                  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="font-italic mb-2 d-inline">Zipcode :</div>
                    <input
                      type="text"
                      class="font-italic mb-1 w-75"
                      formControlName="zipCode"
                    />
                  </div>
                </form>
              </div>
            </div>
            <button
              *ngIf="isAccessible"
              (click)="funUpdateProfile()"
              class="btn btn-primary text-style-add mx-3"
            >
              UPDATE
            </button>
            <button
              *ngIf="isAccessible"
              (click)="disableFields()"
              class="btn btn-outline-primary text-style-del"
            >
              CANCEL
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
