<section class="h-100 gradient-custom-2" style="min-height: 87vh; width: 100%; height: auto;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7" style="width: 80%;">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="
              background-color: #0a0156;
              height: 150px;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div
              class="ms-4 mt-1 d-flex flex-row row"
              style="justify-content: center; align-items: center"
            >
              <div
                class="col img-thumbnail"
                style="
                  width: 80px;
                  z-index: 1;
                  height: 80px;
                  color: #000;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 55%;
                "
              >
                <div class="fw-bold fs-2 " style="color:#0a0156">
                  {{
                    candidate === undefined
                      ? ""
                      : candidate.firstName.charAt(0).toUpperCase()
                  }}{{
                    candidate === undefined
                      ? ""
                      : candidate.lastName.charAt(0).toUpperCase()
                  }}
                </div>
              </div>
              <div class="col mx-3">
                <h4>
                  {{
                    candidate === undefined ? "loading.." : candidate.firstName
                  }}
                  {{
                    candidate === undefined ? "loading.." : candidate.lastName
                  }}
                </h4>
                <p>
                  {{ candidate === undefined ? "loading.." : candidate.email }}
                </p>
              </div>
            </div>
            <div class="ms-4 mt-1 d-flex flex-column">
              <button
                type="button"
                class="btn btn-outline-dark"
                style="z-index: 1; color: white; margin-right: 2rem"
                (click)="enableFields()"
              >
                Edit profile
              </button>
            </div>
          </div>
          <div class="card-body p-4 text-black fw-bold">
            <p class="lead fw-normal mb-1">About</p>
            <div class="row">
              <div
                class="p-4 col-4"
                style="background-color: #f8f9fa; width: 20%"
              >
                <p class="font-italic mb-2">
                  Phone :
                </p>
                <p class="font-italic mb-2">
                  Address :
                </p>
                <p class="font-italic mb-2">
                  City :
                </p>
                <p class="font-italic mb-2">
                  State :
                </p>
                <p class="font-italic mb-2">
                  Country :
                </p>
                <p class="font-italic mb-2">
                  Zipcode :
                </p>
              </div>
              <div
                class="col p-4"
                style="background-color: #f8f9fa; width: 85%"
              >
                <form [formGroup]="profileForm">
                  <input type="text" class="font-italic mb-1 w-50 d-block" formControlName="phone"/>
                  <input type="text" class="font-italic mb-1 w-50 d-block" formControlName="addressLine1"/>
                  <input type="text" class="font-italic mb-1 w-50 d-block" formControlName="city"/>
                  <input type="text" class="font-italic mb-1 w-50 d-block" formControlName="state"/>
                  <input type="text" class="font-italic mb-1 w-50 d-block" formControlName="country"/>
                  <input type="text" class="font-italic mb-1 w-50 d-block" formControlName="zipCode"/>
                </form>
              </div>
            </div>
            <button *ngIf="isAccessible" (click)="funUpdateProfile()" class="btn btn-primary text-style-add mx-3">UPDATE</button>
            <button *ngIf="isAccessible" (click)="disableFields()" class="btn btn-outline-primary text-style-del">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
