
<div class="container mw-80">
    <div class="card bg-glass p-5 mt-3">
    <div class="row justify-content-center">
        <div><a routerLink=".."><i class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</a></div>
        <div class="col-md-6">
            <h2 class="text-center mb-4">Reset Your Password</h2>
            <form (ngSubmit)="resetPassword()" [formGroup]="forgetPasswordForm">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control mb-3" id="newPassword" name="newPassword"
                        formControlName="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control mb-3" id="confirmPassword" name="confirmPassword"
                        formControlName="confirmPassword" required>
                </div>
                <div class="mb-3"></div>
                <button type="submit" class="btn btn-primary btn-block float-end mt-2" [disabled]="!forgetPasswordForm.valid">Reset
                    Password</button>
            </form>
        </div>
    </div>
    </div>
</div>


















