div {
  padding: 0;
  margin: 0;
}
.dynamic-height {
  height: 500px;
}
.dynamic-noheight {
  height: 0px;
}
.Jobhunt {
  display: flex;
  flex-direction: row;
  height: 89vh;
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: Roboto, sans-serif;
  width: 100vw;
}

.jobListing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: 0;
  padding-top: 2.5rem;
  background-color: #dccff0;
}

.Filters {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #0d016b;
  align-items: center;
  padding-top: 1rem;
  /* position: static; */
  color: antiquewhite;
  margin: 0;
}

select {
  width: 90%;
  height: 2rem;
  border-radius: 1rem;
  font-size: 14px;
  font-family: Verdana;
  margin-bottom: 1rem;
  padding-left: 3px;
}

p {
  margin-bottom: 0.3rem;
  font-weight: bolder;
}

.filter-btn{
  margin-top: 1rem;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  transition: all 1s;
}
.fil {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 27px;
  margin-bottom: 1.1rem;
}

.jobFilterMobile{
  display: none;
  position: fixed !important;
  z-index: 499 !important;
  top: 90vh !important;
}

.jobFilterMobile button{
  padding: 1rem 1.5rem !important;
}

.jobFilterMobile i{
  font-size: 1.4rem !important;
}

@media (max-width: 768px) {
  .Jobhunt {
    flex-direction: column;
    height: auto;
  }

  .Filters {
    display: none !important;
  }

  .jobFilterMobile {
    display: block !important;
  }

  /* Filter modal */
  .modal-dialog {
    position: fixed;
    margin: 3vw !important;
    width: 40vw !important;
    height: 40vh !important;
    left: 0px !important;
    top: 6vh !important;
  }

  .jobListing {
    overflow-y: hidden;
    width: 100%;
    min-height: 80vh;
  }
  form {
    flex-direction: row;
  }
}

@media (max-width: 481px) {
  .jobFilterMobile {
    display: block !important;
  }
}

@media (max-width: 560px) {
  .modal-dialog {
    position: relative;
    width: 70vw !important;
    height: 40vh !important;
    left: 15vw !important;
    top: 6vh !important;
  }

  .jobFilterMobile {
    display: block !important;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
