<div class="d-flex gradient-custom-2 justify-content-center flex-wrap categoryWrapper">
    <div class="bg-white rounded p-4 content" style="height: auto;">
      <div class="backButton"><a routerLink=".."><i class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</a></div>
      <h2>Degrees</h2>
      <hr>
      <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>Degree Name</th>
                    <th>Duration in years</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let degree of degrees">
                    <td>{{ degree.degreeName }}</td>
                    <td>{{ degree.durationInYears }}</td>
                    <td>
                        <!-- <a id="delete" class="font-weight-bold btn bg-danger text-style-add me-2" (click)="deleteDegreeById(degree.degreeId)"><i class="fa fa-trash"></i></a>  -->
                        <button class="delete-outer"><a id="delete" (click)="deleteDegreeById(degree.degreeId)"><i class="fa fa-trash"></i></a> </button>
                    </td>
             </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
