<div class="container">
  <h2 class="heading text-center">Referral Data</h2>
  <div *ngIf="referralData.length === 0">
    <p class="paragraph">
      Hey! You don't have any referrals at the moment, but you can refer people
      from the Jobs Tab.
    </p>
  </div>
  <div *ngIf="referralData.length > 0">
    <div *ngFor="let referral of referralData">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            {{ referral.candidate.firstName }} {{ referral.candidate.lastName }} <span class="float-end">{{ referral.candidate.email }}</span> 
          </h5>
        </div>
        <div class="card-body">
         
          <span class="card-text">{{ referral.job.jobCode }} :  <i>{{ referral.job.jobTitle }}</i></span>
          
          <span class="card-text btn btn-warning float-end">Status: {{ referral.statusData.statusName }}</span>
           <br/><br/>
          <p class="card-title">Job description - {{referral.job.jobDescription | slice:0:100}}
            <a [routerLink]="['/job-details', referral.job.jobId]" routerLinkActive="router-link-active"  *ngIf="referral.job.jobDescription.length > 100">...show more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
