.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}
/* .heading {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
} */
.paragraph {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.card {
  background-color: #F9F9F9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card-header {
  background-color: #F0F0F0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.card-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.card-body {
  padding: 15px;
  /* width: 70%;
  align-self: center; */
}
.card-text {
  margin-bottom: 10px;
  font-size: 16px;
}

@media (max-width: 481px) {
  .emailContainer {
    font-size: 1rem;
  }

  .statusButton{
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}