<div class="container">
  <h2 class="heading text-center mb-4">Referral Data</h2>
  <div *ngIf="referral.length === 0">
    <p class="paragraph">
      Hey! You don't have any referrals at the moment, but you can refer people
      from the Jobs Tab.
    </p>
  </div>
  <div *ngIf="referral.length > 0">
    <div *ngFor="let referral of referral">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            {{ referral.candidate.firstName }} {{ referral.candidate.lastName }} <span class="float-end">{{ referral.candidate.email }}</span> 
          </h5>
        </div>
        <div class="card-body">
         
          <span class="card-text"><strong>Job Code</strong> :  <i>{{ (referral.job !== undefined && referral.job !== null) ?  referral.job.jobTitle : referral.closedJob?.jobCode }}</i></span>
          
          <span class="card-text btn btn-warning float-end"><strong>Status : </strong> {{ referral.statusData.statusName }}</span>
           
          <p *ngIf="(referral.job !== undefined && referral.job !== null)" class="card-title"><strong> Job description -</strong>{{referral.job.jobDescription | slice:0:100}}
            <a [routerLink]="['/job-details', referral.job.jobId]" routerLinkActive="router-link-active"  *ngIf="referral.job.jobDescription.length > 100">...show more</a>
          </p>
          <p *ngIf="(referral.closedJob !== undefined && referral.closedJob !== null)" class="card-title"><strong> Job description -</strong> {{referral.closedJob.jobDescription| slice:0:100}}
            <a [routerLink]="['/closedJob/job-details', referral.closedJob.closedJobId]" *ngIf="referral.closedJob.jobDescription.length > 100">...show more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
