<div class="d-flex gradient-custom-2 justify-content-center flex-wrap categoryWrapper">
    <div class="w-90 bg-white rounded p-4" style="height: auto;">
        <div class="backButton"><a routerLink=".."><i class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</a></div>
      <h2 class="headerPadding">Job Positions</h2>
      <hr>
      <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>Position Code</th>
                    <th>Position Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pos of jobPositions">
                    <td>{{ pos.positionCode }}</td>
                    <td>{{ pos.positionName }}</td>
                    <td>{{ pos.description }}</td>
                    <td>
                        <button class="delete-outer"><a id="delete" (click)="deleteByPositionId(pos.positionId)"><i class="fa fa-trash"></i></a></button>                    
                    </td>
             </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
