<div class="container mw-80">
  <div class="card bg-glass px-5 mt-3">
    <h3 class="mt-4">Add Employee</h3><hr/>
    <div class="mb-2"></div>
    <form
      *ngIf="!loading"
      [formGroup]="addEmployeeForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="formdiv row">
        <div class="mb-3 col">
          <label class="form-label">First Name<sup style="color:red;"> *</sup></label>
          <input
            type="text"
            placeholder="First Name"
            formControlName="firstName"
            class="form-control"
          />
          <small
          *ngIf="
            f['firstName'].invalid &&
            (f['firstName'].dirty || f['firstName'].touched)
          "
          class="block p-error"
        >
            <div *ngIf="f['firstName'].errors?.['required']">
              First Name is required
            </div>
          </small>
        </div>
        <div class="mb-3 col">
          <label class="form-label">Last Name<sup style="color:red;"> *</sup></label>
          <input
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
            class="form-control"
          />
         <small
          *ngIf="
            f['lastName'].invalid &&
            (f['lastName'].dirty || f['lastName'].touched)
          "
          class="block p-error"
        >
            <div *ngIf="f['lastName'].errors?.['required']">
              Last Name is required
            </div>
          </small>
        </div>
      </div>
      <div class="formdiv row">
        <div class="mb-3 col">
          <label class="form-label">Email<sup style="color:red;"> *</sup></label>
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="form-control"
          />
          <!-- <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">a -->
            <small
            *ngIf="
              f['email'].invalid &&
              (f['email'].dirty || f['email'].touched)
            "
            class="block p-error"
          >
            <div *ngIf="f['email'].errors?.['required']">Email is required</div>
            <div *ngIf="f['email'].errors?.['email']">Email is invalid</div>
            </small>
          </div>

        <div class="mb-3 col">
          <label class="form-label">Phone Number<sup style="color:red;"> *</sup></label>
          <input
            type="tel"
            placeholder="Phone Number"
            formControlName="phone"
            class="form-control"
            
          />
          <small
            *ngIf="
              f['phone'].invalid &&
              (f['phone'].dirty || f['phone'].touched)
            "
            class="block p-error"
          >
            <div *ngIf="f['phone'].errors?.['required']">Phone number is required</div>
            <div *ngIf="f['phone'].errors?.['pattern']">Phone No. must be of 10 digits and should include only numbers</div>
        </small>
        </div>
      </div>
      <div class="formdiv row">
        <div class="mb-3 col">
          <label class="form-label">Employee Id<sup style="color:red;"> *</sup></label>
          <input
            type="text"
            placeholder="Employee Id"
            formControlName="empId"
            class="form-control"
          />
          <small
            *ngIf="
              f['empId'].invalid &&
              (f['empId'].dirty || f['empId'].touched)
            "
            class="block p-error"
          >
            <div *ngIf="f['empId'].errors?.['required']">
              Employee Id is required
            </div>
          </small>
        </div>
        
        <div class="mb-3 col">
          <label class="form-label">Designation Id<sup style="color:red;"> *</sup></label><br />
          
          <select formControlName="designationId" style="width: 100%;">
            <option value="" disabled selected>Select employee designation</option>
            <option
              *ngFor="let designation of allDesignations"
              [value]="designation.designationId"
            >
              {{ designation.designationName }}
            </option>
          </select>
          <small
            *ngIf="
              f['designationId'].invalid &&
              (f['designationId'].dirty || f['designationId'].touched)
            "
            class="block p-error"
          >
          <div *ngIf="f['designationId'].errors?.['required']">
            Designation is required
          </div>
          </small>
        </div>
      </div>
    
      <div class="my-3" style="float: right;">
        <button class="btn btn-primary mb-2" [disabled]="addEmployeeForm.invalid">
          Add Employee
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
  </div>
</div>
