<div class="container">
    <!--
    -->
CLick to verify Email
<div>
    <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold">Forgot password?</a> </div>
</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span style="font-size: 25px; font-weight: 700;">Wanna change your Password?</span>
                        <br>
                        <small>Enter your Email to confirm your request for change password</small>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group pt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            <input [ngModel] ="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>                                                      
                    <small *ngIf="isRequired" class="text-danger">*Email is required*</small>
                    <small *ngIf="!isValidEmail && !resetPasswordEmail" class="text-danger">*Email is invalid*</small>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="confirmToSend()"   class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
      </div>
<!---->      
    <!-- <div *ngIf="gotemail==true">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Reset Your Password</h2>
            <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control mb-3" id="newPassword" name="newPassword"
                        [(ngModel)]="resetPasswordObj.NewPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control mb-3" id="confirmPassword" name="confirmPassword"
                        [(ngModel)]="resetPasswordObj.ConfirmPassword" required>
                </div>
                <div class="mb-3"></div> 
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetForm.valid">Reset
                    Password</button>
            </form>
        </div>
    </div>
</div>


</div> -->



