<div class="container-xxl bg-white p-0">
  <div class="container-xxl position-relative p-0">
      <div class="container-xxl hero-header" style="background-color: #6222CC;">
          <div class="container px-lg-5">
              <div class="row g-5 align-items-end">
                  <div class="col-lg-6 text-center text-lg-start">
                      <h1 class="text-white mb-4">Join us - Where 'Finding Your Dream Job' isn't just a cliche, it's our job!</h1>
                      <p class="text-white pb-3">Bounteous x Accolite accelerates the future for the world’s most
                        ambitious brands through a range of services including Strategy,
                         Analytics, Digital Engineering, Cloud, Data & AI, Experience
                          Design, and Marketing. With a workforce of over 5000 employees
                           spanning North America, APAC, and EMEA, and partnerships with 
                           leading technology providers, Bounteous x Accolite creates exceptional
                            and efficient business impact, helping clients win.</p>
                      <a [routerLink]="['/about']" class="btn btn-outline-primary py-sm-3 px-sm-5 rounded-pill me-3 text-style-add">Read More</a>
                      <a [routerLink]="['/jobs']" class="btn btn-light py-sm-3 px-sm-5 rounded-pill text-style-del">Find Jobs</a>
                  </div>
                  <div class="col-lg-6 text-center text-lg-start">
                      <img class="img-fluid" src="../../../assets/img/hero.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
          <div class="row g-4">
              <div class="col-lg-4">
                  <div class="feature-item rounded text-center p-4">
                      <i class="fa fa-3x fa-microchip mb-4 feature-icon"></i>
                      <h5 class="mb-3">Data and AI</h5>
                      <p class="m-0">Whether it's building predictive models, automating processes, or enhancing customer experiences, our AI solutions drive efficiency and innovation.</p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item rounded text-center p-4">
                      <i class="fa fa-3x fa-cloud mb-4 feature-icon"></i>
                      <h5 class="mb-3">Cloud and DevOps</h5>
                      <p class="m-0">Expert migration & optimization, CI/CD automation, IaC provisioning, robust monitoring, security integration, scalable & resilient architecture.</p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="feature-item rounded text-center p-4">
                      <i class="fa fa-3x fa-laptop-code mb-4 feature-icon"></i>
                      <h5 class="mb-3">Design & Development</h5>
                      <p class="m-0">Whether it's web applications, mobile apps, or enterprise software, accessibility, and aesthetics to enhance user satisfaction and engagement.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container-xxl fact py-5" style="background-color: #6222CC;">
      <div class="container py-5 px-lg-5">
          <div class="row g-4">
              <div class="col-md-6 col-lg-3 text-center">
                  <i class="fa fa-certificate fa-3x mb-3" style="color: #FBA504;"></i>
                  <h1 class="text-white mb-2">20+</h1>
                  <p class="text-white mb-0">Years Experience</p>
              </div>
              <div class="col-md-6 col-lg-3 text-center">
                  <i class="fa fa-users-cog fa-3x mb-3" style="color: #FBA504;"></i>
                  <h1 class="text-white mb-2">5000+</h1>
                  <p class="text-white mb-0">Team Members</p>
              </div>
              <div class="col-md-6 col-lg-3 text-center">
                  <i class="fa fa-users fa-3x mb-3" style="color: #FBA504;"></i>
                  <h1 class="text-white mb-2">100+</h1>
                  <p class="text-white mb-0">Satisfied Clients</p>
              </div>
              <div class="col-md-6 col-lg-3 text-center">
                  <i class="fa fa-check fa-3x mb-3" style="color: #FBA504;"></i>
                  <h1 class="text-white mb-2">1234+</h1>
                  <p class="text-white mb-0">Completed Projects</p>
              </div>
          </div>
      </div>
  </div>
 
  <div class="container-xxl py-3">
      <div class="container py-5 px-lg-5">
          <div class="">
              <h1 class="text-center mb-5">What Solutions We Provide</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6">
                  <div class="service-item d-flex flex-column text-center rounded">
                      <div class="service-icon flex-shrink-0">
                          <i class="fa fa-cloud fa-2x"></i>
                      </div>
                      <h5 class="mb-3">Cloud and DevOps</h5>
                      <p class="m-0">Expert migration & optimization, CI/CD automation, IaC provisioning, robust monitoring, security integration, scalable & resilient architecture.</p>
                      <a class="btn btn-square" href=""><i class="fa fa-arrow-left"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="service-item d-flex flex-column text-center rounded">
                      <div class="service-icon flex-shrink-0">
                          <i class="fa fa-laptop-code fa-2x"></i>
                      </div>
                      <h5 class="mb-3">Customer Experience and Design</h5>
                      <p class="m-0">We focus on creating exceptional customer experiences through thoughtful design for mobile, and other digital platforms.</p>
                      <a class="btn btn-square" href=""><i class="fa fa-arrow-up"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6  fadeInUp">
                  <div class="service-item d-flex flex-column text-center rounded">
                      <div class="service-icon flex-shrink-0">
                          <i class="fa fa-tower-cell fa-2x"></i>
                      </div>
                      <h5 class="mb-3">Promote and Engage </h5>
                      <p class="m-0">We employ strategic marketing tactics to promote brands and engage audiences effectively. Our services include social media marketing, SEO, and influencer partnerships</p>
                      <a class="btn btn-square" href=""><i class="fa fa-arrow-left"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6  fadeInUp" >
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-laptop fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Digital product Engineering</h5>
                    <p class="m-0">We specialize in crafting cutting-edge digital products through a comprehensive engineering approach. Our services encompass ideation, design, testing, and maintenance.</p>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
              <div class="col-lg-4 col-md-6  fadeInUp" >
                  <div class="service-item d-flex flex-column text-center rounded">
                      <div class="service-icon flex-shrink-0">
                          <i class="fa fa-microchip fa-2x"></i>
                      </div>
                      <h5 class="mb-3">Data and AI</h5>
                      <p class="m-0">Whether it's building predictive models, automating processes, or enhancing customer experiences, our AI solutions drive efficiency and innovation.</p>
                      <a class="btn btn-square" href=""><i class="fa fa-arrow-down"></i></a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6  fadeInUp" >
                  <div class="service-item d-flex flex-column text-center rounded">
                      <div class="service-icon flex-shrink-0">
                          <i class="fab fa-android fa-2x"></i>
                      </div>
                      <h5 class="mb-3">App Development</h5>
                      <p class="m-0">We offer end-to-end app development services, from concept to launch. Our process includes ideation, design and deployment for web, mobile, and desktop platforms.</p>
                      <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container-xxl py-3">
      <div class="container py-3 px-lg-5">
          <h1 class="text-center mb-5">What Our Clients Say!</h1>
          <div class="testimonial-item bg-light rounded my-4">
            <p class="fs-5"><i class="fa fa-quote-left fa-3x mt-n4 me-3"></i>We highly recommend Accolite Digital for their professionalism, technical proficiency, and dedication to client success.</p>
            <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/Logos/MS_logo.jpg" style="width: 65px; height: 65px;">
                <div class="ps-4">
                    <h5 class="mb-1">Morgan Stanley</h5>
                </div>
            </div>
        </div>
        <div class="testimonial-item bg-light rounded my-4">
            <p class="fs-5"><i class="fa fa-quote-left fa-3x mt-n4 me-3"></i>We wholeheartedly endorse Accolite Digital for their professionalism, expertise, and unwavering commitment to delivering exceptional results.</p>
            <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/Logos/DT_logo.png" style="width: 65px; height: 65px;">
                <div class="ps-4">
                    <h5 class="mb-1">Discount Tire</h5>
                </div>
            </div>
        </div>
        <div class="testimonial-item bg-light rounded my-4">
            <p class="fs-5"><i class="fa fa-quote-left fa-3x mt-n4 me-3"></i>We enthusiastically recommend Accolite Digital for their expertise, professionalism, and unwavering commitment to client success.</p>
            <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="../../../assets/Logos/Quest_Software_logo.png" style="width: 65px; height: 65px;">
                <div class="ps-4">
                    <h5 class="mb-1">Quest</h5>
                </div>
            </div>
        </div>
      </div>
  </div>

  <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
          <div class=" fadeInUp">
              <h1 class="text-center mb-5">Our Leaders</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6">
                  <div class="team-item bg-light rounded">
                      <div class="text-center border-bottom p-4">
                          <img class="img-fluid rounded-circle mb-4" src="../../../assets/Images/leela_kaza.jpg" alt="Leela">
                          <h5>Leela Kaza</h5>
                          <span>Co-CEO & Founder</span>
                      </div>
                      <div class="d-flex justify-content-center p-4">
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6" >
                  <div class="team-item bg-light rounded">
                      <div class="text-center border-bottom p-4">
                          <img class="img-fluid rounded-circle mb-4" src="../../../assets/Images/Keith.webp" alt="Keith">
                          <h5>Keith Schwartz</h5>
                          <span>Co-CEO & Founder</span>
                      </div>
                      <div class="d-flex justify-content-center p-4">
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6" >
                  <div class="team-item bg-light rounded">
                      <div class="text-center border-bottom p-4">
                          <img class="img-fluid rounded-circle mb-4" src="../../../assets/Images/Ketan-Headshot_1-copy.webp" alt="Ketan">
                          <h5>Ketan Somani</h5>
                          <span>President, EMEA & APAC</span>
                      </div>
                      <div class="d-flex justify-content-center p-4">
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                          <a class="btn btn-square mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid text-light footer  fadeIn" style="background-color: #6222CC;">
      <div class="container py-5 px-lg-5">
          <div class="row g-5">
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Address<span></span></p>
                  <p><i class="fa fa-map-marker-alt me-3"></i>7th Floor, Magnum Towers, Gurugram, India</p>
                  <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                  <p><i class="fa fa-envelope me-3"></i>accolite.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" routerLink=".."><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social" routerLink=".."><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social" routerLink=".."><i class="fab fa-instagram"></i></a>
                      <a class="btn btn-outline-light btn-social" routerLink=".."><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                  <a class="btn btn-link" [routerLink]="['/about']">About Us</a>
                  <a class="btn btn-link" [routerLink]="['/..']">Contact Us</a>
                  <a class="btn btn-link" [routerLink]="['/']">Privacy Policy</a>
                  <a class="btn btn-link" [routerLink]="['/']">Terms & Condition</a>
                  <a class="btn btn-link" [routerLink]="['/']">Career</a>
              </div>
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Gallery<span></span></p>
                  <div class="row g-2">
                      <div class="col-4">
                          <img class="img-fluid" src="../../../assets/img/portfolio-1.jpg" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src="../../../assets/img/portfolio-2.jpg" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src="../../../assets/img/portfolio-3.jpg" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src="../../../assets/img/portfolio-4.jpg" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src="../../../assets/img/portfolio-5.jpg" alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src="../../../assets/img/portfolio-6.jpg" alt="Image">
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                  <p>To get the latest jobs first, subscribe to our newsletter</p>
                  <div class="position-relative w-100 mt-3">
                      <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                      <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="container px-lg-5">
          <div class="copyright">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a class="border-bottom" href="#">Bounteous X Accolite</a>, All Right Reserved. 
        
        Designed By <a class="border-bottom" href="#">Job Portal guys</a>
                  </div>
                  <div class="col-md-6 text-center text-md-end">
                      <div class="footer-menu">
                          <a [routerLink]="['/']">Home</a>
                          <a [routerLink]="['/jobs']">Jobs</a>
                          <a [routerLink]="['/about']">About</a>
                          <a routerLink="..">FAQs</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
