.landing-container{
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/Images/cover-img2.jpg);
    background-size: contain;
    display: flex;
    position: relative;
    height: 200vh; 
    width: 100%; 
    justify-content: center; 
    text-align: center;
}