<div class="landing-container" style="position: relative;height: 200vh; width: 100vw;">
  <div style="position: absolute; bottom: 0;">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted pt-1" style="width: 100vw;">      
      <!-- Section: Links  -->
      <section class="mt-3">
        <div class="container text-center text-md-start">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                Bounteous x Accolite
              </h6>
              <p>
                All the internal jobs you could shift to, if the company let's you ofcourse!!
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Industries
              </h6>
              <p>
                <a href="#!" class="text-reset">Telecom and Media</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Logistics</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Banking, Financial Services and Insurance </a>
              </p>
              <a href="#!" class="text-reset">Healthcare</a>
              <p>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Services
              </h6>
              <p>
                <a href="#!" class="text-reset">Data and AI</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Cloud and DevOps</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Digital Product Engineering</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Customer Experience and Design</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Gurugram, IND</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                Chicago, US
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="#"> BxA Job Portal</a>
      </div>
      <!-- Copyright -->
    </footer>
<!-- Footer -->
  </div>
</div>