:root {
    font-size: 20px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  
.cont{
    font: 1em/1.618 Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 3rem 0;
    color: #224;
    background: url(../../../assets/Images/bgcolor1.jpg) center/cover no-repeat fixed; 
  }
  
  .card {
    min-width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    overflow: scroll;
  }

  .card-body{
    font-size: 1rem;
    padding: 0;
    /* margin: 0.7rem; */
    text-align: justify;

  }
  
  .card-footer {
    font-size: 1rem;
  }
  
  .firstdiv{
    width: 20vw;
  }

  @media (max-width: 480px) {
    .card{
      padding: 15px !important;
    }
    .card-header{
      padding: 0 !important;
    }
    .res{
      flex-direction: column-reverse;
      padding:0 !important;
    }
    .jobCode{
      margin-right: 10px !important;
    }
    .top-cont h2{
      font-size: 1.3rem;
    }
    .firstdiv{
      /* height: auto; */
      /* align-items: flex-start !important; */
      justify-content:flex-start !important;
    }
   }
  @media (max-width: 440px) {
   /* .card-header{
    display: flex;
    flex-direction: column;
   }  */
   .card{
    border-radius: 0;
    min-width: 100%;
   }
   .res{
    padding: 10px !important;
   }
   
  }

  @media (max-width: 380px) {
    .card-header{
    display: flex;
    flex-direction: column;
   } 
   }
  