<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-body-secondary shadow-lg p-3 bg-white rounded"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="#" target="_self">
      <img
        src="../../../assets/Logos/BxA_logo.webp"
        height="36"
        alt="BxA_Logo"
        style="margin-top: -1px"
        loading="eager"
      />
    </a>
    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarButtonsExample"
    >
      <!-- Left links -->
      <div class="d-flex align-items-center justify-content-start">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="jobs">Jobs</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
      <!-- Left links -->
      <div class="d-flex justify-content-end">
        <a href="login">
          <button
            data-mdb-ripple-init
            type="button"
            class="btn btn-outline-primary px-3 me-2 text-style-login"
            style="font-weight: bold"
          >
            Login
          </button>
        </a>
        <a routerLink="register" href="register">
          <button
            data-mdb-ripple-init
            type="button"
            style="font-weight: 700"
            class="btn btn-primary px-3 me-3 text-style-register"
          >
            Register
          </button></a
        >
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<router-outlet></router-outlet>
