<nav class="navbar navbar-expand-lg navbar-light bg-body-secondary shadow-lg p-3 bg-white rounded">
  <div class="container-fluid">
    <a class="navbar-brand me-2" [routerLink]="['/']" target="_self">
      <img src="../../../assets/Logos/BxA_logo.webp" height="36" alt="BxA_Logo" style="margin-top: -1px" loading="eager" />
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarButtonsExample">
      <div class="d-flex align-items-center justify-content-start">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/jobs']">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-end">
        <div *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']">
            <button type="button" class="btn btn-outline-primary px-3 me-2 text-style-login" style="font-weight: bold">Login</button>
          </a>
          <a [routerLink]="['/register']">
            <button type="button" style="font-weight: 700" class="btn btn-primary px-3 me-3 text-style-register">Register</button>
          </a>
        </div>
        <div *ngIf="isLoggedIn">
          <a [routerLink]="['/login']" (click)="logout()">
            <button type="button" class="btn btn-outline-primary px-3 me-2 text-style-login" style="font-weight: bold">Logout</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>