.btn-primary-1 {
  --bs-btn-border-radius: 25px;
  --bs-btn-bg: #0d016b;
  --bs-btn-border-color: #0d016b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b015b;
  --bs-btn-hover-border-color: #0a0156;
  --bs-btn-focus-shadow-rgb: 49, 39, 129;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a0156;
  --bs-btn-active-border-color: #0a0150;
  --bs-btn-active-shadow: 10px 20px 20px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d016b;
  --bs-btn-disabled-border-color: #0d016b;
  transition: all 0.3s;
}

.btn-outline-primary {
  --bs-btn-border-radius: 25px;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #0d016b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b015b;
  --bs-btn-hover-border-color: #0a0156;
  --bs-btn-focus-shadow-rgb: 49, 39, 129;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a0156;
  --bs-btn-active-border-color: #0a0150;
  --bs-btn-active-shadow: 10px 20px 20px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d016b;
  --bs-btn-disabled-border-color: #0d016b;
}
.text-style-login:hover,
.text-style-register {
  color: #fff;
  background-color: #0a0150;
}
.text-style-register:hover,
.text-style-login {
  color: #0b015b;
  background-color: #fff;
}
.nav-link {
  color: #0b015b;
  font-weight: 500;
}

.btn-close{
  float: right;
}

.navbar {
  background-color: #f9f9f9 !important;
  /* box-shadow: 10px 10px 10px 15px #000000; */
  box-shadow: 0.063rem 2rem 1.25rem 1.125rem #8690a3;
}


.popover{
  display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top:0;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}



@media only screen and (max-width: 600px) {
  .navbar-brand img {
    width: 200px;
    height: 35px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
      margin-right: 0;
      margin-left: 0;
  }
}
@media only screen and (max-width: 400px) {
  .navbar-brand img {
    width: 150px;
    height: 35px;
  }
  .navbar-toggler{
    padding: 0 0.50rem 0 0.50rem;
  }
  .navbar-collapse{
    justify-content: flex-end;
  }
  .navbar-toggler-icon {
    height: 35px;
    width: 20px;
    padding:3px;
  }
}

/* .image-logo {
  background: url("../assets/Logos/BxA_logo.webp");
  height: "36px"; 
  width: "250px";
  margin-top: -1px; 
  min-width: 200;
} */
