<!-- Test nav -->
<div style="display: flex; flex-direction: row;" >
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : 'sidenav' ">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">{{this.name.charAt(0)}}</button>
      <div class="logo-text" *ngIf="collapsed">{{this.name}}</div>
      <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" >
        <i class="fal fa-times close-icon"></i>
      </button>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a [routerLink]="['/profile/'+data.routeLink]" class="sidenav-nav-link" routerLinkActive="active" >
          <i class="sidenav-link-icon " [class]="data.icon"></i>
          <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="comp" style="width: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- Test nav -->


<!-- 


  <div class="main" style="display: flex; height: 87vh; width: 100%;">
    <div class=" bg-danger" style="width: 20%; height: 100vh;">


    <nav id="sidebarMenu" class="collapse d-lg-block sidebar">
      <div class="position-sticky">
        <div class="list-group">
          <a
            [routerLink]="['/dashboard/child1']"
            class="list-group-item list-group-item-action py-4 active"
            aria-current="true"
            >
            <span>Main dashboard</span>
          </a>
          <a
            [routerLink]="['/dashboard/child1']"
            class="list-group-item list-group-item-action py-4 active"
            >
            <span>View Jobs</span>
          </a>
          <a [routerLink]="['/dashboard/child1']" class="list-group-item list-group-item-action py-4 active"
          ><span>Job Application Status</span></a
          >
          <a [routerLink]="['/dashboard/child1']" class="list-group-item list-group-item-action py-4 active"
          ><span>View Resume</span></a
          >
          <a
            [routerLink]="['/dashboard/child1']"
            class="list-group-item list-group-item-action py-4 active"
          >
            <span>Contact List</span>
          </a>
        </div>
      </div>
    </nav>


  </div>
  <div class="content col bg-success" style="width: 80%;">
    <router-outlet></router-outlet>
  </div>
</div> -->
