<div class="container mw-80">
  <div class="card bg-glass px-5 mt-3">
    <h3 class="my-4">Add Job</h3>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <div class="mb-4 col">
        <label class="form-label">Job Code</label>
        <input
          type="text"
          formControlName="jobCode"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['jobCode'].errors }"
        />
        <div *ngIf="submitted && f['jobCode'].errors" class="invalid-feedback">
          <div *ngIf="f['jobCode'].errors?.['required']" class="mb-3">
            Job Code is required
          </div>
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Title</label>
        <input
          type="text"
          formControlName="jobTitle"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['jobTitle'].errors }"
        />
        <div *ngIf="submitted && f['jobTitle'].errors" class="invalid-feedback">
          <div *ngIf="f['jobTitle'].errors?.['required']">
            Job Title is required
          </div>
        </div>
      </div>

      <div class="mb-3 col">
        <label class="form-label">Job Description</label>
        <input
          type="text"
          formControlName="jobDescription"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['jobDescription'].errors }"
        />
        <div
          *ngIf="submitted && f['jobDescription'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['jobDescription'].errors?.['required']">
            Job Description is required
          </div>
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Degree</label><br />
        <select formControlName="degreeId" [(ngModel)]="degreeIndex">
          <option *ngFor="let deg of degrees; let i = index" [value]="i">
            {{ deg.degreeName }}
          </option>
        </select>
      </div>

      <div class="mb-3 col">
        <label class="form-label">Last Date</label>
        <input
          type="datetime-local"
          formControlName="lastDate"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['lastDate'].errors }"
        />
        <div *ngIf="submitted && f['lastDate'].errors" class="invalid-feedback">
          <div *ngIf="f['lastDate'].errors?.['required']">
            Last Date is required
          </div>
          <!-- <div *ngIf="f['lastDate'].errors?.['lastDateValidator']">
            Last Date is invalid
          </div> -->
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Experience</label>
        <input
          type="text"
          formControlName="experience"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['experience'].errors }"
        />
      </div>

      <div class="mb-3 col">
        <label class="form-label">Job Location</label><br />
        <select formControlName="locationId" [(ngModel)]="locationIndex">
          <option *ngFor="let loc of locations; let i = index" [value]="i">
            {{ loc.address }} {{ loc.city }} {{ loc.state }} {{ loc.country }}
          </option>
        </select>
      </div>

      <div class="mb-3 col">
        <label class="form-label">Job Category</label><br />
        <select formControlName="categoryId" [(ngModel)]="categoryIndex">
          <option *ngFor="let cat of jobCategories; let i = index" [value]="i">
            {{ cat.categoryName }} {{ cat.categoryCode }} {{ cat.description }}
          </option>
        </select>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Type</label><br />
        <select formControlName="jobType" [(ngModel)]="typeIndex">
          <option *ngFor="let typ of jobTypes; let i = index" [value]="i">
            {{ typ.typeName }}
          </option>
        </select>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Position</label><br />
        <select formControlName="positionId" [(ngModel)]="positionIndex">
          <option *ngFor="let pos of jobPositions; let i = index" [value]="i">
            {{ pos.positionName }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
          <span
            *ngIf="submitting"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Save
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="isLoading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
  </div>
</div>
