<div class="container mw-80">
  <div class="card bg-glass px-5 mt-3">
    <h3 class="mt-4">Add Job</h3><hr/>
    <div class="mb-2"></div>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <div class="mb-4 col">
        <label class="form-label">Job Code</label>
        <input
          type="text"
          placeholder="Enter Job Code"
          formControlName="jobCode"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['jobCode'].errors }"
        />
        <div *ngIf="submitted && f['jobCode'].errors" class="invalid-feedback">
          <div *ngIf="f['jobCode'].errors?.['required']" class="mb-3">
            Job Code is required
          </div>
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Title</label>
        <input
          type="text"
          placeholder="Enter Job Title"
          formControlName="jobTitle"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['jobTitle'].errors }"
        />
        <div *ngIf="submitted && f['jobTitle'].errors" class="invalid-feedback">
          <div *ngIf="f['jobTitle'].errors?.['required']">
            Job Title is required
          </div>
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Description</label>
        <textarea
          type="text"
          placeholder="Enter Job Description"
          formControlName="jobDescription"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['jobDescription'].errors }"
        ></textarea>
        <div
          *ngIf="submitted && f['jobDescription'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['jobDescription'].errors?.['required']">
            Job Description is required
          </div>
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Degree</label><br />
        <select formControlName="degreeId">
          <option value="" selected disabled>Select degree required for job</option>
          <option *ngFor="let deg of degrees" [value]="deg.degreeId">
            {{ deg.degreeName }}
          </option>
        </select>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Last Date</label>
        <input
          type="datetime-local"
          formControlName="lastDate"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['lastDate'].errors }"
        />
        <div *ngIf="submitted && f['lastDate'].errors" class="invalid-feedback">
          <div *ngIf="f['lastDate'].errors?.['required']">
            Last Date is required
          </div>
          <!-- <div *ngIf="f['lastDate'].errors?.['lastDateError']">Last Date is invalid</div> -->
        </div>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Experience</label>
        <input
          type="text"
          placeholder="Enter experience required for the Job"
          formControlName="experience"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['experience'].errors }"
        />
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Location</label><br />
        <select formControlName="locationId">
          <option value="" selected disabled>Select job location</option>
          <option *ngFor="let loc of locations" [value]="loc.locationId">
            {{ loc.city }} {{ loc.state }} {{ loc.country }}
          </option>
        </select>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Category</label><br />
        <select
          formControlName="categoryId"
          (change)="loadJobPositionsByCategoryId()"
        >
          <option value="" selected disabled>Select job category</option>
          <option *ngFor="let cat of jobCategories" [value]="cat.categoryId">
            {{ cat.categoryName }} {{ cat.categoryCode }}
          </option>
        </select>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Type</label><br />
        <select formControlName="jobType">
          <option value="" selected disabled>Select job type</option>
          <option *ngFor="let typ of jobTypes" [value]="typ.jobTypeId">
            {{ typ.typeName }}
          </option>
        </select>
      </div>
      <div class="mb-3 col">
        <label class="form-label">Job Position</label><br />
        <select formControlName="positionId">
          <option value="" selected disabled>Select job position</option>
          <option
            *ngFor="let pos of categoryjobPositions"
            [value]="pos.positionId"
          >
            {{ pos.positionName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <button
          [disabled]="jobForm.invalid"
          class="btn btn-primary"
          style="float: right"
        >
          Add Job
        </button>
      </div>
    </form>
    <div class="mt-4"></div>
  </div>
</div>
