.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

@media screen and (max-width: 480px) {
  .card{
    padding:0.8rem !important;
  }
  .AddButton{
    margin-top: 2rem !important;
  }

  .belowForm{
    margin-top: 1rem !important;
  }
}
