<div class="d-flex gradient-custom-2 justify-content-center my-5 mx-4">
  <div class="w-100 bg-white rounded p-5" style="height: auto; min-height: 70vh;">
    <div><a routerLink="../.."><i class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</a></div>
    <div class="row w-full d-flex justify-content-center">
      <div class="d-flex justify-content-center mb-2">
        <h2>Update Education</h2>
      </div>
      <hr />
      <form [formGroup]="updateCandidateEducation" (ngSubmit)="updateEducation()">
        <div class="form-group mb-3">
          <label class="d-block mb-2 fw-bold">Institution Name</label>
          <select formControlName="institutionId">
            <option *ngFor="let inst of Institutions;" [value]=inst.institutionId>
              {{ inst.institutionOrSchool }}
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label class="d-block mb-2 fw-bold">Degree Name</label>
          <select formControlName="degreeId">
            <option *ngFor="let degree of degrees" [value]=degree.degreeId>
              {{ degree.degreeName }}
            </option>
          </select>
        </div>

        <div class="form-group mb-3 fw-bold">
          <label for="Grade">Grade</label>
          <input type="number" class="form-control" id="Grade" placeholder="Enter Grade" formControlName="grade" />
          <small *ngIf="f['grade'].invalid && (f['grade'].dirty || f['grade'].touched)" class="d-block text-danger">
            <div *ngIf="f['grade'].errors?.['required']">
              Grade is required
            </div>
          </small>
        </div>

        <div class="row">
          <div class="col form-group mb-3 fw-bold">
            <label for="StartYear">Start Year</label>
            <input type="number" class="form-control" id="StartYear" placeholder="Enter Start Year"
              formControlName="startYear" />
              <small *ngIf="f['startYear'].invalid && (f['startYear'].dirty || f['startYear'].touched)" class="d-block text-danger">
                <div *ngIf="f['startYear'].errors?.['required']">
                  Start year is required
                </div>
              </small>
          </div>

          <div class="col form-group mb-3 fw-bold">
            <label for="EndYear">End Year</label>
            <input type="number" class="form-control" id="EndYear" placeholder="Enter End Year"
              formControlName="endYear" />
              <small *ngIf="f['endYear'].invalid && (f['endYear'].dirty || f['endYear'].touched)" class="d-block text-danger">
                <div *ngIf="f['endYear'].errors?.['required']">
                  End year is required
                </div>
              </small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="updateCandidateEducation.invalid">
          Update
        </button>
      </form>
    </div>
  </div>
</div>