<div class="container mw-80 ">
    <div class="card bg-glass p-5 mt-3">

            <h2 class="mb-4">Add Referral</h2>
            <form (ngSubmit)="addreferal()" #resetForm="ngForm">
             
                <div class="mb-4 col">
                    <div class="form-group ">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control mb-3" id="firstName" name="firstName"
                            [(ngModel)]="referralObj.firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="lastName" class="form-control mb-3" id="lastName" name="lastName"
                            [(ngModel)]="referralObj.lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control mb-3" id="email" name="email"
                            [(ngModel)]="referralObj.email" required>
                    </div>
                    <div class="mb-3"></div> 
                    <button type="submit" class="btn btn-primary btn-block float-end ">Submit</button>
                </div>
            </form>
    </div>
</div>






