.small-card{
    width: 22vw;
    height: 9vh;
    justify-content:center;
    border: 3px solid #dbdbdb;
}

.card-body{
    background: #f9f9f9;
}

.small-card div{
    justify-content: space-between;

}

.add-btn{
    float: right;
}


@media screen and (max-width: 480px) {
    .top-card{
        padding: 10px !important;
        width: 90% !important;
    }
    .small-card{
        width: 50vw;
    }
}