.small-card{
    width: 22vw;
    height: 9vh;
    justify-content:center;
    border: 3px solid #dbdbdb;
}

.card-body{
    background: #f9f9f9;
}

.small-card div{
    justify-content: space-between;

}

.add-btn{
    float: right;
}

@media screen and (max-width: 480px) {
    .custom-container{
        padding: 0 !important;
    }
    .card{
        padding: 0 !important;
    }
    .card-body{
        width: 40vw;
    }
}