<div class="d-flex gradient-custom-2 justify-content-center flex-wrap" style="padding: 20vh;">
    <div class="w-75 bg-white rounded p-5" style="height: auto;">
      <h2>Update the Job Data</h2>
      <hr>
      <table class="table">
        <thead>
            <tr>
                <th>Category Code</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of jobCategories">
                <td>{{ cat.categoryCode }}</td>
                <td>{{ cat.categoryName }}</td>
                <td>{{ cat.description }}</td>
                <td>
                    <a id="delete" class="font-weight-bold btn btn-danger text-style-add" (click)="deleteByCategoryId(cat.categoryId)"><i class="fa fa-trash"></i></a> 
                </td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
