.categoryWrapper{
    padding: 4vh 2vw !important;
}

.desc{
    text-align: justify;
}

@media (max-width : 481px){
    .categoryWrapper{
        padding: 2vw 1vw !important;
    }

    .p-4{
        padding: 0.8rem !important;
    }

    .backButton{
        float: right !important;
    }

    .headerPadding{
        padding-left: 1.5rem !important;
    }
}