<div class="card m-3" style="width: 60vw; max-width: 60vw;">
  <div class="card-body">
    <div class="d-flex flex-row">
      <div class="d-flex align-items-center">
        <span class="logo">
          <span class="logo-text">
            {{
              Employee.firstName
                ? Employee.firstName.charAt(0).toUpperCase()
                : "U"
            }}{{
              Employee.lastName ? Employee.lastName.charAt(0).toUpperCase() : ""
            }}
          </span>
        </span>
      </div>
      <div class="align-self-stretch" style="margin-left: 2rem">
        <div class="d-flex flex-column">
          <span>
            <span style="font-size: large; font-weight: 500">
              {{ Employee.firstName }} {{ Employee.lastName }}
            </span>
            ({{ Employee.empId }})
          </span>
          <span style="font-size: 1rem; margin-left: 1rem">
            {{ Designation ? Designation.designationName : "loading..." }}
          </span>
          <span>
            {{ Employee ? Employee.email : "loading..." }}
          </span>
        </div>
      </div>
      <div class="ms-auto">
        <button
        *ngIf="!disabledEmployee"
          class="btn btn-danger"
          (click)="disableEmployee(Employee.employeeId)"
        >
          Disable
        </button>
        <button
          *ngIf="disabledEmployee"
          class="btn btn-warning"
          (click)="enableEmployee(Employee.employeeId)"
        >
          Enable
        </button>
      </div>
    </div>
  </div>
</div>
