<!-- <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../../../assets/Images/default-img.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Imposter</h5>
              <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">Gurgaon, Haryana, IND</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1">Add new</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Educational Category</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Masters</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Educational Degree</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">MCA</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">GPA/Percentage</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">6.9</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Institute</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">DUCS</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">University</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">University of Delhi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> -->


<div class="d-flex gradient-custom-2 justify-content-center align-items-center p-5">
  <div class="w-75 bg-white rounded p-5">
      <a class="btn btn-primary px-3 text-style-add fs-5 fw-bold" (click)="addE()">Add + </a>
      <table class="table">
          <thead>
              <tr>
                  <th>Percentage</th>
                  <th>InstitutionOrSchoolName</th>
                  <th>Degree</th>
                  <th>StartYear</th>
                  <th>EndYear</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tmp of eduList">
              <td>{{tmp.Grade}}</td>
              <td>{{tmp.InstitutionOrSchoolName}}</td>
              <td>{{tmp.Degree}}</td>
              <td>{{tmp.StartYear}}</td>
              <td>{{tmp.EndYear}}</td>
              <td>
                  <a class='btn btn-primary text-style-add' ><i class="fas fa-edit"></i>
                  </a>
                  <button class='btn btn-outline-primary text-style-del'><i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
              </td>
            </tr>
          </tbody>
      </table>
  </div>
</div>

<!-- <div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Add data
  </button>
  <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remove data
  </button>
</div> -->
<!-- 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="Grade">
    <th mat-header-cell *matHeaderCellDef>Grade</th>
    <td mat-cell *matCellDef="let element">{{element.Grade}}</td>
  </ng-container>

  <ng-container matColumnDef="StartYear">
    <th mat-header-cell *matHeaderCellDef>StartYear</th>
    <td mat-cell *matCellDef="let element">{{element.StartYear}}</td>
  </ng-container>

  <ng-container matColumnDef="EndYear">
    <th mat-header-cell *matHeaderCellDef>EndYear</th>
    <td mat-cell *matCellDef="let element">{{element.EndYear}}</td>
  </ng-container>

  <ng-container matColumnDef="InstitutionOrSchoolName">
    <th mat-header-cell *matHeaderCellDef>InstitutionOrSchoolName</th>
    <td mat-cell *matCellDef="let element">{{element.InstitutionOrSchoolName}}</td>
  </ng-container>

  <ng-container matColumnDef="Degree">
    <th mat-header-cell *matHeaderCellDef>Degree/th>
    <td mat-cell *matCellDef="let element">{{element.Degree}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
