/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @import "~@fortawesome/fontawesome-free/css/all.css"; */
/* @import 'ngx-toastr/toastr'; */

body{
    font-family: Roboto;
    position: relative;
    margin: 0;
    padding: 0;
}



.gradient-custom-2 {
    /* fallback for old browsers */
    background: #2b2980;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(68, 34, 148), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(148, 67, 141), rgba(166, 193, 238, 1))
    }
    
    .text-style-add, .text-style-del:hover{
      color: #fff;
      background-color: #0a0150;
      border-radius: 28px;
    }
    .text-style-add:hover, .text-style-del{
      color: #0b015b;
      background-color: #fff;
    }
    
    .btn-primary {
      --bs-btn-border-radius: 25px;
      --bs-btn-bg: #0d016b;
      --bs-btn-border-color: #0d016b;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #0b015b;
      --bs-btn-hover-border-color: #0a0156;
      --bs-btn-focus-shadow-rgb: 49, 39, 129;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #0a0156;
      --bs-btn-active-border-color: #0a0150;
      --bs-btn-active-shadow: 10px 20px 20px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: #0d016b;
      --bs-btn-disabled-border-color: #0d016b;
      transition: all .3s;
    }
    
    .btn-outline-primary {
      --bs-btn-border-radius: 25px;
      --bs-btn-bg: #fff;
      --bs-btn-border-color: #0d016b;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #0b015b;
      --bs-btn-hover-border-color: #0a0156;
      --bs-btn-focus-shadow-rgb: 49, 39, 129;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #0a0156;
      --bs-btn-active-border-color: #0a0150;
      --bs-btn-active-shadow: 10px 20px 20px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: #0d016b;
      --bs-btn-disabled-border-color: #0d016b;
    }