<div class="w-[100vw] h-fit relative flex flex-col main bg-gray-800">
    
    <div class="w-full h-fit flex col">
        <div
            class="w-[80%] bg-white box flex flex-col p-[20px] gap-[20px] h-adj justify-center items-center">
            <div
                class="editform p-8 bg-gray-50 border shadow-md rounded-md w-full lg:w-2/3 xl:w-1/2">
                <h2 class="text-3xl font-bold mb-8 text-gray-800">Add
                    Product</h2>
                <form> 
                    <input type="file" (change)="handleFileChange($event) "accept=".pdf" />
                    <button (click)="uploadFile()" [disabled]="uploading"
                        class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mb-4  ">
                        {{ uploading ? 'Uploading...' : 'Upload' }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>