<div class="d-flex gradient-custom-2 justify-content-center flex-wrap categoryWrapper">
    <div class="w-90 bg-white rounded p-4" style="height: auto; min-width: 90vw;">
        <div class="backButton"><a routerLink=".."><i class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</a></div>
      <h2> Institution</h2>
      <hr>
      <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>Institution/ School</th>
                    <th>University/ Board</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let institution of institutions">
                    <td>{{ institution.institutionOrSchool }}</td>
                    <td>{{ institution.universityOrBoard }}</td>
                    <td>
                        <button class="delete-outer"><a id="delete" (click)="deleteByInstitutionId(institution.institutionId)"><i class="fa fa-trash"></i></a> </button>
                        <!-- <a id="edit" class="font-weight-bold btn btn-primary text-style-add"><i class="fas fa-edit"></i></a>  -->

                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
