.categoryWrapper{
    padding: 4vh 2vw !important;
}

@media (max-width : 481px){
    .categoryWrapper{
        padding: 6vw 1vw !important;
    }

    .p-4{
        padding: 0.8rem !important;
    }

    .backButton{
        float: right !important;
    }
}