<div class="d-flex gradient-custom-2 justify-content-center flex-wrap categoryWrapper">
    <div class="bg-white rounded p-4 content" style="height: auto;">
        <div class="backButton"><a routerLink=".."><i class="fa fa-angle-double-left me-2" aria-hidden="true"></i>Back</a></div>
      <h2>Job Types</h2>
      <hr>
      <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>Job Type Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let type of jobTypes">
                    <td>{{ type.typeName }}</td>
                    <td>
                       <button class="delete-outer"><a id="delete" (click)="deleteByJobTypeId(type.jobTypeId)"><i class="fa fa-trash delete-b"></i></a></button>                    
                    </td>
             </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
