<div class="d-flex gradient-custom-2 justify-content-center" style="padding: 20vh;">
    <div class="w-75 bg-white rounded p-5" style="height: auto;">
      <div class="row w-full my-5 d-flex justify-content-center">
        <div class="d-flex justify-content-center mb-3">
          <h2>Add Education</h2>
        </div>
        <hr>
        <form [formGroup]="candidateEducation" (ngSubmit)="save()" >
          <div class="form-group mb-3">
              <label for="Institution">Institution Name</label>
              <input type="text" class="form-control" id="Institution" placeholder="Institution" formControlName="institutionOrSchoolName">
          </div>
          <div class="btn-group mb-3" style="width: 80%;">
            <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
            Select your Institution
            </button>
            <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" (click)="add()">IIT</a></li>
                <li><a class="dropdown-item" >Amity</a></li>
                <li><a class="dropdown-item" >DUCS</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </div>
          <div class="form-group mb-3">
              <label for="Degree">Degree</label>
              <input type="text" class="form-control" id="Degree" aria-describedby="Degree" placeholder="Enter degree" formControlName="degree">
          </div>
          <div class="btn-group mb-3" style="width: 80%;">
            <button type="button" class="btn btn-primary dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false">
            Select the Degree
            </button>
            <ul class="dropdown-menu w-100 text-center">
                <li><a class="dropdown-item" (click)="add()">MCA</a></li>
                <li><a class="dropdown-item" >BTech</a></li>
                <li><a class="dropdown-item" >BCA</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </div>
          <div class="form-group mb-3">
              <label for="Grade">Grade</label>
              <input type="number" class="form-control" id="Grade" placeholder="Enter Grade" formControlName="grade">
          </div>
          <div class="row">
            <div class="col form-group mb-3">
              <label for="StartYear">Start Year</label>
              <input type="number" class="form-control" id="StartYear" placeholder="Enter Start Year" formControlName="startYear">
            </div>
            <div class="col form-group mb-3">
              <label for="EndYear">End Year</label>
              <input type="number" class="form-control" id="EndYear" placeholder="Enter End Year" formControlName="endYear">
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="!candidateEducation.valid">ADD</button>
      </form>
      </div>
    </div>
</div>


