<div class="d-flex gradient-custom-2 justify-content-center flex-wrap" style="padding: 20vh;">
    <div class="w-75 bg-white rounded p-5" style="height: auto;">
      <h2>Applied Jobs :- </h2>
      <hr>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Job Code</th>
              <th>Job Title</th>
              <th>Last Date</th>
              <th>Status</th>
            </tr>
          </thead>
              <tbody>
                <tr *ngFor="let job of candidateJobs; let i = index">
                  <td>{{job.jobCode}}</td>
                  <td>{{job.jobTitle}}</td>
                  <td>{{candidateApplications[i].appliedOn}}</td>
                  <td>{{applicationStatus[i].statusName}}</td>
                  </tr>
                </tbody>
          </table>
          <div *ngIf="notApplied" ><h2>No jobs applied till now!</h2></div>
      </div>
    </div>
  </div>